<% include partials/header.ejs %>

<header>
  <h1>Shopping List</h1>
</header>

<!-- This encapsulates our page -->
<main>
  <!-- This is our Item List Section -->
  <section>
  <!-- produce = [];
                var vegetarian = [];
                var deli = [];
                var meat = [];
                var seafood = [];
                var baking = [];
                var grocery = [];
                var bakery = [];
                var beverage = [];
                var frozen = [];
                var health = [];
                var bulk = [];
                var specialty -->
  <header>
  
  </header>                
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sollicitudin enim sed leo pellentesque porta. Nullam sagittis arcu eu nisl sodales maximus. Suspendisse non lacus fermentum erat euismod interdum sed non diam. Pellentesque malesuada dolor sit amet sapien ultrices dapibus. Cras scelerisque ante eu pellentesque facilisis. Fusce et scelerisque ligula. Nullam ac varius erat. Praesent quis dapibus eros, quis finibus sem. Maecenas ac turpis nec turpis tincidunt aliquam et ac elit. Cras et est a dolor accumsan tempus a et risus. Nunc id nibh hendrerit, ullamcorper ipsum sed, imperdiet urna. Etiam sagittis tellus non malesuada auctor.</p>
  </section>
  <!-- This is our shopping List Section (edit mode) -->
  <aside>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sollicitudin enim sed leo pellentesque porta. Nullam sagittis arcu eu nisl sodales maximus. Suspendisse non lacus fermentum erat euismod interdum sed non diam. Pellentesque malesuada dolor sit amet sapien ultrices dapibus. Cras scelerisque ante eu pellentesque facilisis. Fusce et scelerisque ligula. Nullam ac varius erat. Praesent quis dapibus eros, quis finibus sem. Maecenas ac turpis nec turpis tincidunt aliquam et ac elit. Cras et est a dolor accumsan tempus a et risus. Nunc id nibh hendrerit, ullamcorper ipsum sed, imperdiet urna. Etiam sagittis tellus non malesuada auctor.</p>
  </aside>
</main>


  <!-- JavaScript Section -->
  <script src="\libs\jquery\dist\jquery.min.js"></script>
  <script src="\libs\bootstrap\dist\js\bootstrap.min.js"></script>
  <script src="\libs\DataTables\datatables.min.js"></script>
  <script src="\libs\DataTables\DataTables-1.10.13\js\dataTables.bootstrap.min.js"></script>

<% include partials/footer.ejs %>

