/* IMPORT SECTION */
@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font: 100%;
  line-height: 1.4;
}

/* changing navbar logo height */
.navbar-left img {
    height: 60px;
}

/*changes the navbar font */
.navbar-default li {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.5rem;
}

.navbar-header {
    padding-right: 2rem;
}

i[class~="fa"] {
} 